*{
  font-family: sans-serif;
}

h1 {
  font-size: 30px;
  margin:30px;
}

img {
  width: 30px;
  margin-left: 20px;
  margin-top: 10px;
}

.center{
  text-align: center;
  font-weight: bold;
}

input[type="submit"]{
  margin-left: 50%;
  margin-top: 20px;
}

select {
    margin-right: 20px;
}

.typevalues{

  display: inline-block;
	width: 170px;
	float: left;
}

.col{
    text-align: left;
}

.data{

  display: inline-block;
	width: 150px;
	float: left;
}

.check{
    text-align: left;
}

a{
  text-decoration: none;
  border: 1px solid grey;
  background-color: grey;
  color:white;
  padding: 3px;
  margin-left: 20px;
  margin-right : 30px;
}

.flex{
  display: flex;
  padding-bottom: 20px;
  justify-content:center;
  align-items: center;
}

.check{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.form{
	text-align: left;
	margin-left: 34%;
}

.label{
	display: block;
	width: 250px;
	float: left;
}
